<a href="https://colab.research.google.com/github/gabychoi/DataJournalism/blob/main/datice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import warnings

warnings.filterwarnings('ignore')

In [ ]:
import pandas as pd
import numpy as np 
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [6]:
raw_data = pd.read_csv('/content/gdrive/My Drive/data/data.csv')

In [7]:
raw_data.head()

   순번  2심 법원   ... 1심과 판단을 달리 한 주요 계기  특기사항
0  NaN    NaN  ...                 NaN   NaN
1  1.0  광주 고   ...                 NaN   NaN
2  NaN    NaN  ...                 NaN   NaN
3  2.0  광주 고   ...   범행에 이른 경위 의 비상식성    NaN
4  NaN    NaN  ...                 NaN   NaN

[5 rows x 11 columns]